[{:id "47c252b7-fcc8-42e2-bb5c-0032eba617e1",
  :username "purplemeercat964",
  :password "chuck",
  :email "elya.roy@example.com",
  :full-name "Elya Roy"}
 {:id "4a41a0f7-b228-4687-9afa-c4c93280bdf3",
  :username "orangecat465",
  :password "river",
  :email "oscar.mitchelle@example.com",
  :full-name "Oscar Mitchelle"}
 {:id "61a55e90-6d24-463d-8987-5229cc8711e1",
  :username "purpleduck697",
  :password "printing",
  :email "linnea.kujala@example.com",
  :full-name "Linnea Kujala"}
 {:id "9a06e7c3-8ba9-4ebb-bb64-0fc080cd8a39",
  :username "greenfrog630",
  :password "designer",
  :email "emma.huhtala@example.com",
  :full-name "Emma Huhtala"}
 {:id "6f818970-b678-444d-9d95-3af4f2d29335",
  :username "happyfrog810",
  :password "rollin",
  :email "helmi.jarvi@example.com",
  :full-name "Helmi Jarvi"}
 {:id "2debf651-5525-40c6-9d1c-09dce667d742",
  :username "orangebear177",
  :password "hello",
  :email "kathelijne.woning@example.com",
  :full-name "Kathelijne Woning"}
 {:id "9b332052-2f2d-431a-a393-0af9a41f6d6d",
  :username "smallduck956",
  :password "cooldude",
  :email "ariana.clarke@example.com",
  :full-name "Ariana Clarke"}
 {:id "f57f2fa3-544a-4e56-ba8b-047aa14d51e7",
  :username "heavypanda673",
  :password "bigbooty",
  :email "henry.ortiz@example.com",
  :full-name "Henry Ortiz"}
 {:id "a03f4d40-f192-49e8-930a-977dc61e04d4",
  :username "lazypeacock279",
  :password "postman",
  :email "jaya.bosscher@example.com",
  :full-name "Jaya Bosscher"}
 {:id "d5f4e775-9425-4659-8851-2cc266cbf10f",
  :username "heavymouse107",
  :password "jelly",
  :email "johnny.howell@example.com",
  :full-name "Johnny Howell"}]
